
.list{
  text-decoration: none;
  color: black;
}

.buttonBar{
  margin-top:10px;
}

.event{
  position: static;
  margin: 10px;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  text-align: center;
  width: 400px;
  height: 200px; 
  cursor: pointer; 
  border: solid;
  color: #9e4993b2;
  border-radius: 10px;
}
.event:hover{
  background-color: #90499e36;
}

.ul{
  list-style-type: none;
  margin-top: 10px;
  padding: 0px;
}

.full {
  background-color:#9e49936e;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 40px;
  margin-left: 40px;
  
}

