
.list{
  text-decoration: none;
  color: black;
}

.event{
  display: flex;
  position: static;
  margin: 10px;
  padding-left: 10px;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  width: 60%;
  height: 90%; 
  cursor: pointer; 
  border: solid;
  color: #9e4993b2;
  border-radius: 10px;
  /* border-left-color: #9e4993;
  border-top-style: #9e4993;
  border-right-style: #9e4993;
  border-bottom-style: #9e4993; */
  /* border-width: 5px; */
}

.ul{
  list-style-type: none;
  margin-top: 10px;
  padding: 0px;
}

.full {
  background-color: rgba(255, 255, 255, 0.664);
  border: none;
  color: #123C69;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 110px;
  
}