.container {
  width: 220px;
  padding: 0;
  height: 100%;
  margin: 0px;
  padding-top: 5px;
  background-color: #dceeeb;
  position: absolute;
}

.ul{
  list-style-type: none;
  margin-top: 10px;
  padding: 0px;
  height: 100%;
  width: 100%;
  position: static;
  overflow: scroll;
}

.li curr{
  display: block;
  width:100%;
  color: black;
  padding: 8px 16px;
  border-bottom: 1px solid #555;

}

.li curr:hover{
  background-color: #a9d5ce;
  color: white;

}

.menuHeader{
  margin-left: 10px;
  height: 100%;
  width: 100%; 
  position: static;
}

.button1{
  background-color:aliceblue;
  border: 1px solid #555;
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 4px;
  padding: 5px 55px;
  color:black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.button1:hover{
  background-color:#a9d5ce;
  color: white;

}

@media only screen and (min-width: 800px) {
  .menuHeader{
    display: none;
  }
  .content {
    margin-right: 0;
  }
}