.body{

  background-color: #EEE2DC ;
  height: 1000px;
}

.center {
  background-color: white;
  width: 50%;
  border: 3px solid #a9d5ce;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 40%;
  margin: auto;
  text-align: center;
  max-height: 50%;
  border-radius: 10px ; 
  font-family: "Times New Roman", Times, serif; 
  margin-top: 8.5%;
}

.name{
  color: grey;
  font-size: 40px;
}
.info{
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.info:hover {
  opacity: 0.7;
}

.b2mp {
  width: 6%;
  border-style: solid;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  background-color: #7bafda;
  color: black;
  border-radius: 20px ; 
}

.b2mp:hover{
  cursor: pointer;
  color: white;
}


